span.c0		{}
span.c10	{}
span.c20	{font-size:smaller;}
span.c30	{color: #808080; background-color: #EEEEEE;}
span.c40	{font-style: normal;}
span.c50	{font-size:larger;}
span.c60	{font-style: italic;}
span.c70	{text-decoration: underline;}
span.c80	{text-transform: uppercase;}
span.c90	{font-weight: bold;}
span.c100	{color: #FFFFFF; background-color: #5F9EA0;}
a:link { color: #ff0000 }
a:visited { color: #7f0000 }
a:active { color: #808080 }
a.Good:link { text-decoration: none; color: #0000ff }
a.Good:visited { text-decoration: none; color: #0000ff }
a.Good:hover { text-decoration: none; color: #0000ff }
a.Good:active { text-decoration: none; color: #0000ff }
a.Bad:link { text-decoration: none; color: #202020 }
a.Bad:visited { text-decoration: none; color: #202020 }
a.Bad:hover { text-decoration: none; color: #202020 }
a.Bad:active { text-decoration: none; color: #202020 }
a.Neutral:link { text-decoration: none; color: #7c007c }
a.Neutral:visited { text-decoration: none; color: #7c007c }
a.Neutral:hover { text-decoration: none; color: #7c007c }
a.Neutral:active { text-decoration: none; color: #7c007c }
a.unconditional:link { text-decoration: none; color: #0000ff }
a.unconditional:visited { text-decoration: none; color: #7c007c }
a.unconditional:hover { text-decoration: none; color: #0000ff }
a.unconditional:active { text-decoration: none; color: #0000ff }
