<?xml version="1.0" encoding="UTF-8"?>
<!-- Loc Nguyen configed -->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Adaptive Learning System WOW</display-name>
	
	<!-- listeners -->
	<listener>
		<listener-class>vn.spring.zebra.helperservice.WOWContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>vn.spring.zebra.helperservice.WOWSessionListener</listener-class>
	</listener>
	<!-- Axis listener -->
	<listener>
		<listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
	</listener>
	<!-- /listeners -->
	
	<servlet>
		<servlet-name>AMtServer</servlet-name>
		<servlet-class>AMtServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConvertMOT2WOW</servlet-name>
		<servlet-class>ConvertMOT2WOW</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtractCAF</servlet-name>
		<servlet-class>ExtractCAF</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImportMOT</servlet-name>
		<servlet-class>ImportMOT</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Anonymous</servlet-name>
		<servlet-class>Anonymous</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppletLogin</servlet-name>
		<servlet-class>AppletLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorChange</servlet-name>
		<servlet-class>AuthorChange</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorLogout</servlet-name>
		<servlet-class>AuthorLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Authors</servlet-name>
		<servlet-class>Authors</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorWorkplace</servlet-name>
		<servlet-class>AuthorWorkplace</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfDB</servlet-name>
		<servlet-class>ConfDB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Config</servlet-name>
		<servlet-class>Config</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConvertCL</servlet-name>
		<servlet-class>ConvertCL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConvertXML</servlet-name>
		<servlet-class>ConvertXML</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>convertDB</servlet-name>
		<servlet-class>convertDB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CoursesList</servlet-name>
		<servlet-class>CoursesList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Exec</servlet-name>
		<servlet-class>Exec</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Get</servlet-name>
		<servlet-class>Get</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.GetFile</servlet-name>
	 <servlet-class>authorservlets.GetFile</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.CheckCourse</servlet-name>
	 <servlet-class>authorservlets.CheckCourse</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.ExportFile</servlet-name>
	 <servlet-class>authorservlets.ExportFile</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.GetAddress</servlet-name>
	 <servlet-class>authorservlets.GetAddress</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.ListFiles</servlet-name>
	 <servlet-class>authorservlets.ListFiles</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.SaveFile</servlet-name>
	 <servlet-class>authorservlets.SaveFile</servlet-class>
	</servlet>
	<servlet>
	 <servlet-name>authorservlets.SaveCourseFile</servlet-name>
	 <servlet-class>authorservlets.SaveCourseFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logoff</servlet-name>
		<servlet-class>Logoff</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Managers</servlet-name>
		<servlet-class>Managers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveForm</servlet-name>
		<servlet-class>SaveForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveList</servlet-name>
		<servlet-class>SaveList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewGet</servlet-name>
		<servlet-class>ViewGet</servlet-class>
	</servlet>
	<!-- TESTEDITOR -->
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.AddQuestionToTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.AddQuestionToTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.BeginTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.BeginTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateTestFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.CreateTestFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.CreateQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestion</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteTestFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.DeleteTestFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.EndTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.EndTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ExportQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.ExportQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.FindQuestions</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.FindQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetCoursesAndConceptsNames</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetCoursesAndConceptsNames</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetIconAndItemsPath</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetIconAndItemsPath</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByCode</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByOrder</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestions</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileAndConceptsNames</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileAndConceptsNames</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNames</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNames</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNamesOld</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNamesOld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomQuestions</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomRestrictionsQuestions</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomRestrictionsQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetTestsFileNames</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetTestsFileNames</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ImportQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.ImportQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ModifyQuestion</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.ModifyQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.SaveQuestion</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.SaveQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.UpdateEvaluatedTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.UpdateEvaluatedTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetInformationValues</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetInformationValues</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetStudentAndFinishTest</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetStudentAndFinishTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetChart</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.GetChart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateMobileJar</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.CreateMobileJar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DownloadFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.DownloadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ExportWOWQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.ExportWOWQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ImportWOWQuestionsFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.ImportWOWQuestionsFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.UploadFile</servlet-name>
		<servlet-class>authorservlets.es.uco.WOW.TestEditorServlets.UploadFile</servlet-class>
	</servlet>
	<!-- University of Science -->
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxBackendPortletService</servlet-name>
		<servlet-class>vn.spring.zebra.portlet.AjaxBackendPortletService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WOWServlet</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.WOWServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserGetFile</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.UserGetFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSaveFile</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.UserSaveFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSaveList</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.UserSaveList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRemoteLogin</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.UserRemoteLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TriUMQueryService</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.TriUMQueryService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppletTestEngineCatch</servlet-name>
		<servlet-class>vn.spring.zebra.helperservice.AppletTestEngineCatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjaxBackendSearchEngine</servlet-name>
		<servlet-class>vn.spring.zebra.search.AjaxBackendSearchEngine</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KnowledgeEvalChartServlet</servlet-name>
		<servlet-class>vn.spring.zebra.evaluation.KnowledgeEvalChartServlet</servlet-class>
	</servlet>
	<!-- STRATEGY -->
	<servlet>
		<servlet-name>authorservlets.GetStrategyFile</servlet-name>
		<servlet-class>authorservlets.GetStrategyFile</servlet-class>
	</servlet>
	<!-- STRATEGY -->
	<!-- University of Science -->
	<!-- TESTEDITOR -->
	<!-- Axis Servelet -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SOAPMonitorService</servlet-name>
		<display-name>SOAPMonitorService</display-name>
		<servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
		<init-param>
			<param-name>SOAPMonitorPort</param-name>
			<param-value>5001</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AMtServer</servlet-name>
		<url-pattern>/AMtServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConvertMOT2WOW</servlet-name>
		<url-pattern>/ConvertMOT2WOW</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtractCAF</servlet-name>
		<url-pattern>/ExtractCAF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportMOT</servlet-name>
		<url-pattern>/ImportMOT</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Anonymous</servlet-name>
		<url-pattern>/Anonymous</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppletLogin</servlet-name>
		<url-pattern>/AppletLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorChange</servlet-name>
		<url-pattern>/AuthorChange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorLogout</servlet-name>
		<url-pattern>/AuthorLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authors</servlet-name>
		<url-pattern>/Authors</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorWorkplace</servlet-name>
		<url-pattern>/AuthorWorkplace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfDB</servlet-name>
		<url-pattern>/ConfDB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Config</servlet-name>
		<url-pattern>/Config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConvertCL</servlet-name>
		<url-pattern>/ConvertCL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConvertXML</servlet-name>
		<url-pattern>/ConvertXML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>convertDB</servlet-name>
		<url-pattern>/convertDB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CoursesList</servlet-name>
		<url-pattern>/servlet/CoursesList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Exec</servlet-name>
		<url-pattern>/Exec</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Get</servlet-name>
		<url-pattern>/Get/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logoff</servlet-name>
		<url-pattern>/Logoff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Managers</servlet-name>
		<url-pattern>/Managers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveForm</servlet-name>
		<url-pattern>/SaveForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveList</servlet-name>
		<url-pattern>/SaveList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewGet</servlet-name>
		<url-pattern>/ViewGet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.CheckCourse</servlet-name>
		<url-pattern>/servlet/authorservlets.CheckCourse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.ExportFile</servlet-name>
		<url-pattern>/servlet/authorservlets.ExportFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.GetFile</servlet-name>
		<url-pattern>/servlet/authorservlets.GetFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.GetAddress</servlet-name>
		<url-pattern>/servlet/authorservlets.GetAddress</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.ListFiles</servlet-name>
		<url-pattern>/servlet/authorservlets.ListFiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.SaveFile</servlet-name>
		<url-pattern>/servlet/authorservlets.SaveFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.SaveCourseFile</servlet-name>
		<url-pattern>/servlet/authorservlets.SaveCourseFile</url-pattern>
	</servlet-mapping>
	<!-- TESTEDITOR -->
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.AddQuestionToTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.AddQuestionToTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.BeginTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.BeginTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateTestFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.CreateTestFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.CreateQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestion</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.DeleteQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DeleteTestFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.DeleteTestFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.EndTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.EndTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ExportQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.ExportQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.FindQuestions</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.FindQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetCoursesAndConceptsNames</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetCoursesAndConceptsNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetIconAndItemsPath</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetIconAndItemsPath</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByCode</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByOrder</servlet-name>
	  	<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionByOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestions</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileAndConceptsNames</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileAndConceptsNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNames</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNamesOld</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetQuestionsFileNamesOld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomQuestions</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetRandomQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetRandomRestrictionsQuestions</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetRandomRestrictionsQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetTestsFileNames</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetTestsFileNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ImportQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.ImportQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ModifyQuestion</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.ModifyQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.SaveQuestion</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.SaveQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.UpdateEvaluatedTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.UpdateEvaluatedTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetInformationValues</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetInformationValues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetStudentAndFinishTest</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetStudentAndFinishTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.GetChart</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.GetChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.CreateMobileJar</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.CreateMobileJar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.DownloadFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.DownloadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ExportWOWQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.ExportWOWQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.ImportWOWQuestionsFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.ImportWOWQuestionsFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authorservlets.es.uco.WOW.TestEditorServlets.UploadFile</servlet-name>
		<url-pattern>/servlet/authorservlets.es.uco.WOW.TestEditorServlets.UploadFile</url-pattern>
	</servlet-mapping>
	<!-- TESTEDITOR -->
	<!-- University of Science -->
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxBackendPortletService</servlet-name>
		<url-pattern>/AjaxBackendPortletService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WOWServlet</servlet-name>
		<url-pattern>/WOWServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserGetFile</servlet-name>
		<url-pattern>/UserGetFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSaveFile</servlet-name>
		<url-pattern>/UserSaveFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSaveList</servlet-name>
		<url-pattern>/UserSaveList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRemoteLogin</servlet-name>
		<url-pattern>/UserRemoteLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TriUMQueryService</servlet-name>
		<url-pattern>/TriUMQueryService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AppletTestEngineCatch</servlet-name>
		<url-pattern>/AppletTestEngineCatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxBackendSearchEngine</servlet-name>
		<url-pattern>/AjaxBackendSearchEngine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KnowledgeEvalChartServlet</servlet-name>
		<url-pattern>/KnowledgeEvalChartServlet</url-pattern>
	</servlet-mapping>
	<!-- University of Science -->
	<!-- STRATEGY -->
	<servlet-mapping>
		<servlet-name>authorservlets.GetStrategyFile</servlet-name>
		<url-pattern>/servlet/authorservlets.GetStrategyFile</url-pattern>
	</servlet-mapping>
	<!-- STRATEGY -->
	<!-- Axis Servlet Mapping-->
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<env-entry>
		<description>Configuration File</description>
		<env-entry-name>ConfigFile</env-entry-name>
		<env-entry-value>X:/runtime/wow/WEB-INF/wowconfig.xml</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<description>Zebra Configuration File</description>
		<env-entry-name>ZebraConfigFile</env-entry-name>
		<env-entry-value>X:/runtime/wow/WEB-INF/zebraconfig.xml</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

	<!-- eXo -->
	<!--
	<filter>
		<filter-name>ResourceRequestFilter</filter-name>
		<filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>ResourceRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.exoplatform.services.portletcontainer.impl.servlet.PortletApplicationListener</listener-class>
	</listener>
	<servlet>
    	<servlet-name>PortletWrapper</servlet-name>
    	<servlet-class>org.exoplatform.services.portletcontainer.impl.servlet.ServletWrapper</servlet-class>
	</servlet>
  	<servlet-mapping>
    	<servlet-name>PortletWrapper</servlet-name>
    	<url-pattern>/PortletWrapper</url-pattern>
	</servlet-mapping>
	-->
	<!-- eXo -->
	
	<!-- Pluto -->
	<!--
	<servlet>
		<servlet-name>WowPortlet</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>WowPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>WowPortletEx</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>WowPortletEx</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
		<servlet-name>WowAuthorPortlet</servlet-name>
		<servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-name</param-name>
			<param-value>WowAuthorPortlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>WowPortlet</servlet-name>
		<url-pattern>/PlutoInvoker/WowPortlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WowPortletEx</servlet-name>
		<url-pattern>/PlutoInvoker/WowPortletEx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WowAuthorPortlet</servlet-name>
		<url-pattern>/PlutoInvoker/WowAuthorPortlet</url-pattern>
	</servlet-mapping>
	-->
	<!-- Pluto -->
</web-app>
